@{
    ViewData["Title"] = "Home Page";
}

<h1>gc2lti-outcomes service is now running.</h1>

<p>
    <strong>Do not use this with actual students.</strong> This is a proof of concept
    to illustrate a <a href="https://andyfmiller.com/2017/11/24/using-lti-tools-in-google-classroom/">series of blog posts</a>.
    <strong>There is no protection of private student data.</strong>
</p>

<hr/>
