@model gc2lti_outcomes.Models.CourseWorkModel
@{
    ViewBag.Title = "Share to Classroom";
    ViewBag.PersonName = Model.PersonName;
}

<div class="panel">
    <img class="center-block vertical-spacing" src="/images/32x32_yellow_stroke_icon@1x.png"/>
    <div class="text-center vertical-spacing">Your assignment has been saved</div>
</div>

<div class="form-group text-right vertical-spacing">
    <a href="@Model.CourseAlternativeLink" class="btn btn-primary">View</a>
</div>